{% extends 'layout.njk' %}
{% import 'inputs.njk' as inputs %}

{% block content %}
    {% from "govuk/components/input/macro.njk" import govukInput %}
    {% from "govuk/components/fieldset/macro.njk" import govukFieldset %}

    {% call govukFieldset({
        legend: {
            text: data.title,
            classes: "govuk-fieldset__legend--l",
            isPageHeading: true
        }
    }) %}

        {% for input in data.formData.inputs %}
            {% if (input.type == 'text') or (input.type == 'password') %}
                {{ inputs.text(id = input.id, label = input.label, value = input.value, type = input.type) }}
            {% elif (input.type == 'radios')%}
                {{ inputs.radios(id = input.id, label = input.label, items = input.items) }}
            {% elif (input.type == 'textarea')%}
                {{ inputs.textArea(id = input.id, label = input.label, hint = input.hint) }}
            {% else %}
                <p>Input type unknown</p>
            {% endif %}
        {% endfor %}

    {% endcall %}
{% endblock %}