{% extends 'layout.njk' %}

{% block content %}
    <h1 class="govuk-heading-xl">{{data.title}}</h1>
    <p class="govuk-body">
        Test app for evaluating the development of forms with JSON Forms and React.
    </p>
{% endblock %}